/* 版面主體左右分欄 */
#app {
    display: flex;
    gap: 32px;
    align-items: flex-start;
}
.left-block {
    flex: 1;
}
.right-block {
    flex: 1;
    min-width: 350px;
}

/* canvas 區塊樣式 */
.canvas-block {
    width: 100% !important;
    height: 300px !important;
    margin-top: 120px;
    background: #fff;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
