/* 版面主體左右分欄 */
#app {
    display: flex;
    gap: 32px;
    align-items: flex-start;
}

.left-block {
    flex: 1;
}

.right-block {
    flex: 1;
    min-width: 350px;
}

/* canvas 區塊樣式 */
.canvas-block {
    width: 100% !important;
    height: 100% !important;
    margin-top: 179px;
    background: #fff;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.control-group {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.control-group label {
    min-width: 100px; /* 可依需求調整 */
    margin-right: 8px;
}

.control-group button {
    margin-left: 8px;
}

.button-show{
    margin-bottom: 8px;
}

